<ul id="slide-out" class="sidenav sidenav-fixed">
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="~/Content/Images/office.jpg">
                </div>
                <a href="/manage"><img class="circle" src="~/Content/Images/profile-picture.jpg"></a>
                <a href="/manage"><span class="white-text name">Hello, @User.Identity.Name!</span></a>
                <a href="/manage"><span class="white-text email">@User.Identity.GetUserName()</span></a>
            </div>
        </li>
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <li><a class="waves-effect" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        }
    }
    <li><a class="waves-effect" href="/account/register" id="registerLink">Register</a></li>
    <li><a class="waves-effect" href="/account/register" id="loginLink">Login</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Menu</a></li>
    <li><a class="waves-effect" href="/"><i class="material-icons">home</i>Home</a></li>
    <li><a class="waves-effect" href="/home/about"><i class="material-icons">people</i>About</a></li>
    <li><a class="waves-effect" href="/home/contact"><i class="material-icons">movie</i>Contact</a></li>
</ul>