@{
    ViewBag.Title = "About";
}

<div class="row container">
    <h2 class="header">ASP.NET Material Design</h2>
    <p class="grey-text text-darken-3 lighten-3">Use this area to provide additional information.</p>
</div>